doctype html
html(ng-app='awesomeChat')
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/javascripts/jquery/dist/jquery.min.js')
    script(type='text/javascript',src='/javascripts/angular/angular.min.js')
  body
    header#banner
      h1 Awesome Chat
    block content
    footer Hope you enjoy your stay here