html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}
.view{
  height: 100%;
}
#login{
  margin-top: -60px;
}
section#chatroom {
  height: 100%;
  width: 100%;
  position: absolute;
}

.chatroom{
  height: 100%;
  padding-bottom: 40px;
}
div#messages {
  height: 100%;
  max-height: 100%;
  padding: 10px;
  overflow: scroll;
}
.myMessage, .userMessage{
  text-align: left;
}
.systemMessage, .serverMessage{
  color: #8F8F8F;
}
header{
  background-color:#4192C1;
  text-align: right;
}

header h1{
  padding: 5px;
  padding-right: 15px;
  color: #FFFFFF;
  margin: 0px;
}

footer{
  padding: 6px;
  background-color:#4192C1;
  color: #FFFFFF;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
#nickname{
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  width: 400px;
  font-size: 26px;
  text-align: center;
  background: none;
  -webkit-appearance: none!important;
}
#nickname:focus{
  outline: none;
}
#message{
  height: 40px;
  position: fixed;
  padding-left: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0;
}