html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: -moz-calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: calc(100% - 20px);
}

section#chatroom {
  height: -moz-calc(100% - 140px);
  height: -webkit-calc(100% - 140px);
  height: calc(100% - 140px);
}

div#messages {
  height: -moz-calc(100% - 35px);
  height: -webkit-calc(100% - 35px);
  height: calc(100% - 35px);
  padding: 10px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.myMessage, .userMessage{
  text-align: left;
}
.systemMessage, .serverMessage{
  color: #8F8F8F;
}
header{
  background-color:#4192C1;
  text-align: right;
}

header h1{
  padding: 5px;
  padding-right: 15px;
  color: #FFFFFF;
  margin: 0px;
}

footer{
  padding: 6px;
  background-color:#4192C1;
  color: #FFFFFF;
  bottom: 0;
  position: absolute;
  width: 100%;
  margin: 0px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
#nickname{
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  width: 400px;
  font-size: 26px;
  text-align: center;
  background: none;
  -webkit-appearance: none!important;
}
#nickname:focus{
  outline: none;
}
#message{
  position: fixed;
  bottom: 0;
  border-radius: 0;
}