<section id="chatroom">
  <div class="chatroom">
    <div id="messages" scroll-glue>
      <p ng-repeat="message in messages" class="{{message.type}}" id="item{{message.id}}">
        <span ng-show="message.username">{{message.username}}: </span>
        {{message.text}}
      </p>
    </div>
  </div>
  <form ng-submit="sendMsg()" role="form">
    <div class="form-group">
      <input type="text" id="message" class="form-control" ng-model="message.text" placeholder="Enter your message here">
    </div>
  </form>
</section>